.container {
  width: 250px;
  height: 500px;
  overflow: hidden;
  position: relative;
  float: left;
}
.top, .bottom, .before, .after {
  height: 250px;
  left: 0;
  position: absolute;
  width: 250px;
}
.top, .bottom {
  transform-style: preserve-3d;
}
.top {
  top: 0;
  transform-origin: bottom center;
}
.bottom {
  bottom: 0;
  transform-origin: top center;
}
.face {
  position: absolute;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.face.back {
  transform: rotateX(180deg);
}
.before {
  top: 0;
}
.after {
  bottom: 0;
}
.cut {
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: relative;
}
.pull > * {
  margin-top: -250px;
}
