.header {
  background-color: #ecf0f1;
  border-bottom: 1px solid #bdc3c7;
  display: flex;
  height: 50px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.logo {
  align-items: center;
  color: #6184D8;
  display: flex;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
}
.logo:hover {
  color: #000;
}
.logoImg {
  height: 32px;
  margin-right: 10px;
}
.nav {
  display: flex;
  margin-left: auto;
  padding: 0 20px;
}
.link {
  align-items: center;
  border-bottom: 3px solid transparent;
  color: #000;
  display: flex;
  padding: 10px;
  text-decoration: none;
}
.linkActive {
  border-bottom-color: #6184D8;
}
@media (max-width: 500px) {
  .logo {
    font-size: 0;
  }
  .nav {
    padding: 0 5px;
  }
  .link {
    font-size: 12px;
  }
}
