.header {
  background-color: #f0f465;
  display: flex;
}
.logo {
  align-items: center;
  color: #6184D8;
  display: flex;
  font-size: 30px;
  padding: 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
}
.logo:hover {
  color: #000;
}
.logoImg {
  height: 50px;
  margin-right: 10px;
}
.nav {
  align-items: center;
  display: flex;
  margin-left: auto;
  padding: 0 20px;
}
.link {
  border-bottom: 3px solid transparent;
  color: #000;
  padding: 10px;
  text-decoration: none;
}
.linkActive {
  border-bottom-color: #9cec5b;
}
