@font-face {
  font-family: Interface;
  src: url('../../fonts/Interface-Regular.woff2') format('woff2'),
       url('../../fonts/Interface-Regular.woff') format('woff'),
       url('../../fonts/Interface-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Hasklig;
  src: url('../../fonts/Hasklig-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Hasklig;
  src: url('../../fonts/Hasklig-Semibold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Interface;
  margin: 0;
}

a {
  color: #6184d8;
}

.container {
  margin: 50px auto 0;
  max-width: 1180px;
  padding: 20px;
}

.anchor {
  position: relative;
}

.header-link::before {
  content: '#';
  display: block;
  left: -20px;
  position: absolute;
  text-decoration: none;
}

.header-link:hover::before {
  text-decoration: underline;
}

h1, h2, h3 {
  margin-left: -25px;
  padding-left: 25px;
}

pre, code {
  border-radius: 3px;
}

code {
  background-color: rgba(27, 31, 35, 0.05);
  font-size: 85%;
  padding: 0.3em 0.5em;
}

code, code[class*="language-"] {
  font-family: Hasklig, monospace;
}
code[class*="language-"] {
  padding: 0;
}
